In [1]:
#file upload
from google.colab import files
uploaded = files.upload()

Saving CarPrice_Assignment.csv to CarPrice_Assignment.csv

In [2]:
#import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import tensorflow as tf
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, Dropout
from tensorflow.keras.utils import to_categorical
import tensorboard
import seaborn as sns

In [4]:
#load and read data file
data = pd.read_csv("CarPrice_Assignment.csv")
data

     car_ID  symboling                   CarName  ... citympg highwaympg    price
0         1          3        alfa-romero giulia  ...      21         27  13495.0
1         2          3       alfa-romero stelvio  ...      21         27  16500.0
2         3          1  alfa-romero Quadrifoglio  ...      19         26  16500.0
3         4          2               audi 100 ls  ...      24         30  13950.0
4         5          2                audi 100ls  ...      18         22  17450.0
..      ...        ...                       ...  ...     ...        ...      ...
200     201         -1           volvo 145e (sw)  ...      23         28  16845.0
201     202         -1               volvo 144ea  ...      19         25  19045.0
202     203         -1               volvo 244dl  ...      18         23  21485.0
203     204         -1                 volvo 246  ...      26         27  22470.0
204     205         -1               volvo 264gl  ...      19         25  22625.0

[205 rows x 26 columns]

In [5]:
#check null values
data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [7]:
#drop column

data.drop(["car_ID", "symboling", "CarName"], axis=1, inplace=True)

In [8]:
data

    fueltype aspiration doornumber  ... citympg highwaympg    price
0        gas        std        two  ...      21         27  13495.0
1        gas        std        two  ...      21         27  16500.0
2        gas        std        two  ...      19         26  16500.0
3        gas        std       four  ...      24         30  13950.0
4        gas        std       four  ...      18         22  17450.0
..       ...        ...        ...  ...     ...        ...      ...
200      gas        std       four  ...      23         28  16845.0
201      gas      turbo       four  ...      19         25  19045.0
202      gas        std       four  ...      18         23  21485.0
203   diesel      turbo       four  ...      26         27  22470.0
204      gas      turbo       four  ...      19         25  22625.0

[205 rows x 23 columns]

In [12]:

# Converting Alphabetical Features Into Numerical Features

import sklearn
labelencoder = sklearn.preprocessing.LabelEncoder()
data['fueltype'] = labelencoder.fit_transform(data['fueltype'])
data['aspiration'] = labelencoder.fit_transform(data['aspiration'])
data['carbody'] = labelencoder.fit_transform(data['carbody'])
data['drivewheel'] = labelencoder.fit_transform(data['drivewheel'])
data['enginelocation'] = labelencoder.fit_transform(data['enginelocation'])
data['fuelsystem'] = labelencoder.fit_transform(data['fuelsystem'])
data['doornumber'] = labelencoder.fit_transform(data['doornumber'])
data['enginetype'] = labelencoder.fit_transform(data['enginetype'])
data['cylindernumber'] = labelencoder.fit_transform(data['cylindernumber'])

In [13]:
data

     fueltype  aspiration  doornumber  ...  citympg  highwaympg    price
0           1           0           1  ...       21          27  13495.0
1           1           0           1  ...       21          27  16500.0
2           1           0           1  ...       19          26  16500.0
3           1           0           0  ...       24          30  13950.0
4           1           0           0  ...       18          22  17450.0
..        ...         ...         ...  ...      ...         ...      ...
200         1           0           0  ...       23          28  16845.0
201         1           1           0  ...       19          25  19045.0
202         1           0           0  ...       18          23  21485.0
203         0           1           0  ...       26          27  22470.0
204         1           1           0  ...       19          25  22625.0

[205 rows x 23 columns]

In [14]:
data.shape

(205, 23)

In [16]:
# Splitting The Dataset Into Training and Testing Data

train_data = data.iloc[:144,:]
train_data

     fueltype  aspiration  doornumber  ...  citympg  highwaympg    price
0           1           0           1  ...       21          27  13495.0
1           1           0           1  ...       21          27  16500.0
2           1           0           1  ...       19          26  16500.0
3           1           0           0  ...       24          30  13950.0
4           1           0           0  ...       18          22  17450.0
..        ...         ...         ...  ...      ...         ...      ...
139         1           0           1  ...       26          31   7053.0
140         1           0           1  ...       26          31   7603.0
141         1           0           0  ...       32          37   7126.0
142         1           0           0  ...       28          33   7775.0
143         1           0           0  ...       26          32   9960.0

[144 rows x 23 columns]

In [18]:

test_data = data.iloc[145:,:]
test_data.head()

     fueltype  aspiration  doornumber  ...  citympg  highwaympg    price
145         1           1           0  ...       24          29  11259.0
146         1           0           0  ...       28          32   7463.0
147         1           0           0  ...       25          31  10198.0
148         1           0           0  ...       23          29   8013.0
149         1           1           0  ...       23          23  11694.0

[5 rows x 23 columns]

In [19]:
# Separating Labels From Train And Test Data

copy_of_train_data = train_data.copy()
copy_of_test_data = test_data.copy()
train_labels = train_data.pop('price')
test_labels = test_data.pop('price')

In [21]:
train_data.describe().T

                  count         mean         std  ...       50%       75%      max
fueltype          144.0     0.916667    0.277350  ...     1.000     1.000     1.00
aspiration        144.0     0.187500    0.391675  ...     0.000     0.000     1.00
doornumber        144.0     0.500000    0.501745  ...     0.500     1.000     1.00
carbody           144.0     2.555556    0.817448  ...     3.000     3.000     4.00
drivewheel        144.0     1.333333    0.515494  ...     1.000     2.000     2.00
enginelocation    144.0     0.020833    0.143325  ...     0.000     0.000     1.00
wheelbase         144.0    98.481944    6.599127  ...    96.400   101.200   120.90
carlength         144.0   173.561111   13.544803  ...   173.000   182.425   208.10
carwidth          144.0    65.977778    2.364937  ...    65.400    66.675    72.30
carheight         144.0    53.397917    2.584258  ...    53.700    55.500    59.80
curbweight        144.0  2566.187500  575.551204  ...  2410.000  2933.000  4066.00
enginetype        144.0     3.090278    1.063792  ...     3.000     3.000     6.00
cylindernumber    144.0     2.131944    0.925524  ...     2.000     2.000     6.00
enginesize        144.0   129.958333   46.974160  ...   120.000   152.000   326.00
fuelsystem        144.0     3.069444    2.094457  ...     3.000     5.000     7.00
boreratio         144.0     3.319931    0.277013  ...     3.345     3.540     3.94
stroke            144.0     3.277361    0.331687  ...     3.290     3.460     4.17
compressionratio  144.0     9.867500    3.585398  ...     9.000     9.400    22.70
horsepower        144.0   107.166667   42.396893  ...    96.000   123.000   288.00
peakrpm           144.0  5179.861111  473.024765  ...  5200.000  5500.000  6000.00
citympg           144.0    24.770833    6.989221  ...    24.000    31.000    49.00
highwaympg        144.0    30.409722    7.190138  ...    30.000    37.000    54.00

[22 rows x 8 columns]

In [22]:
# Noramalizing The Data 

# Finding Mean 
train_mean = np.mean(train_data, axis=0)
# Finding Standard Deviation
train_std = np.std(train_data, axis=0)
# Formula Used : Data - Mean / Standard Deviation
train_data = (train_data-train_mean) / train_std
test_data = (test_data-train_mean) / train_std

In [24]:
# Checking Normalize Test Data

train_data.head()

   fueltype  aspiration  doornumber  ...   peakrpm   citympg  highwaympg
0  0.301511   -0.480384         1.0  ... -0.381563 -0.541404   -0.475877
1  0.301511   -0.480384         1.0  ... -0.381563 -0.541404   -0.475877
2  0.301511   -0.480384         1.0  ... -0.381563 -0.828558   -0.615442
3  0.301511   -0.480384        -1.0  ...  0.679153 -0.110674   -0.057183
4  0.301511   -0.480384        -1.0  ...  0.679153 -0.972135   -1.173701

[5 rows x 22 columns]

In [25]:

test_data.tail()

     fueltype  aspiration  doornumber  ...   peakrpm   citympg  highwaympg
200  0.301511   -0.480384        -1.0  ...  0.467010 -0.254251   -0.336312
201  0.301511    2.081666        -1.0  ...  0.254867 -0.828558   -0.755007
202  0.301511   -0.480384        -1.0  ...  0.679153 -0.972135   -1.034137
203 -3.316625    2.081666        -1.0  ... -0.805850  0.176480   -0.475877
204  0.301511    2.081666        -1.0  ...  0.467010 -0.828558   -0.755007

[5 rows x 22 columns]

In [26]:
# Making Base Model

model = tf.keras.models.Sequential()
model.add(Dense(10, activation = 'relu', input_shape=[len(train_data.keys())]))
model.add(Dropout(0.5))
model.add(Dense(8, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(6, activation = 'sigmoid'))
model.add(Dense(1,))
model.compile(optimizer = 'rmsprop', loss = 'mse', metrics = ['mse', 'mae'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 10)                230
_________________________________________________________________
dropout (Dropout)            (None, 10)                0
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 88
_________________________________________________________________
dropout_1 (Dropout)          (None, 8)                 0
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 379
Trainable params: 379
Non-trainable params: 0
_________________________________________________________________

In [28]:
# Training Model on Train Data

model.fit(train_data, train_labels, epochs=10, verbose = 0, validation_split= 0.2)

In [29]:
# Making Predictions On Test Data

predictions = model.predict(test_data).flatten()
predictions = predictions.flatten()

In [30]:

test_score = model.evaluate(test_data, test_labels)

2/2 [==============================] - 0s 7ms/step - loss: 148326512.0000 - mse: 148326512.0000 - mae: 11407.4971

In [32]:

print(f"Loss: {test_score[0]}")
print(f"Mean Absolute Error: {test_score[2]}")

Loss: 148326512.0
Mean Absolute Error: 11407.4970703125

NameError: ignored